.clearance-information-section {
  background-color: #EFF6FF;
  padding: 16px 32px;
  margin-left: -24px;
  margin-right: -24px;
  height: 14px;
  width: 1408px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}


.clearance-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
}

.clearance-text {
  font-size: 16px;
  font-weight: 700;
  color: #1a1a1a;
  font-family: "Samsung InterFace", "Segoe UI", Arial, sans-serif;
  /* padding-bottom: 5px;
  margin-bottom: 5px; */
  margin-top: -6px;
}

.clearance-arrow {
  font-size: 18px !important;
  color: #1a1a1a;
}
